<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>News Scrape</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>
<div class="container">
  <div class="navbar navbar-dark">
    <div class="nav-item">
      <a role="button" class="btn btn-primary" href="/">News-Scraper</a>
    </div>
    <div class="nav-item">
      <a id="scrape" class="btn btn-success btn-lg" href="#" role="button">Scrape new articles</a>
    </div>
    <div class="nav-item">
      <a id="savedArticles" role="button" class="btn btn-danger" href="/saved">Saved Articles</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="col-sm-4 offset-sm-4 p-5 containerz">
          <p>
            <a class="btn btn-outline-dark directionsButton" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Directions
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body directions">
              Click the scrape new article button to load science related articles from the New York Times. Once the articles load, you can choose which ones to save. Click on the saved articles button to see your favorites. Saving notes to individual articles coming soon... 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    

{{{body}}}

    <!-- Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>
</html>