<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <div class="containerz">
            <h1 class="heading display-4">News Scrape</h1>
            <p class="lead">This app allows users to create a web app that lets users view, save, and leave comments on the latest news.</p>
            <a id="scrape" class="btn btn-primary btn-lg" href="#" role="button">Scrape</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="articles">
        
        
      </div>
    </div>
  </div>
</div>
