<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h1 class="display-4">News Scrape</h1>
        <p class="lead">This app allows users to create a web app that lets users view, save, and leave comments on the latest news.</p>
        <hr class="my-4">
        <p>Welcome!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Scrape</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="articles">Articles
        
      </div>
    </div>
  </div>
</div>
