body{
    background: rgb(229, 237, 255) !important;
}

.jumbotron{
    background: url(images/climate2.jpg)!important;
    background-repeat: repeat-x !important;
    background-size:cover !important;
    background-position: center !important;
    text-align: center;
}

.directions{
    background:rgba(0, 0, 0, 0.7) !important;
    color:white;
}

.dataTitle{
    text-align: center;
}

.directionsButton{
    border:1px solid black !important;
}
#titleinput, #bodyinput, #savenote{
    margin-bottom:10px !important;
    
}
/* #titleinput:focus{
    background: rgba(7, 66, 110, 0.7) !important;
    color:orange;
    
} */
/* #savenote{
    width:100px;
    padding:10px 0;
    border-radius:10px;
} */




